@page "/committee"

<PageTitle>Committee</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h3" Class="px-4">Committee</MudText>
        </MudItem>
        <MudItem xs="12" class="mt-4">
            <MudText Typo="Typo.body1" Class="px-4">
                Meet the dedicated members of the Silverbridge Harps committee. Our committee members work tirelessly to ensure the smooth operation and success of our club.
            </MudText>
        </MudItem>
        <MudItem xs="12" class="mt-4">
            <MudSimpleTable Hover=true>
                <thead>
                    <th>Position</th>
                    <th>Member</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Chairperson</td>
                        <td>Thomas McKeown</td>
                    </tr>
                    <tr>
                        <td>Vice Chairperson</td>
                        <td>Damien Finnegan</td>
                    </tr>
                    <tr>
                        <td>Secretary</td>
                        <td>Roby McMahon</td>
                    </tr>
                    <tr>
                        <td>Assistant Secretary</td>
                        <td>Aidan Murphy</td>
                    </tr>
                    <tr>
                        <td>Assistant Secretary</td>
                        <td>Jarlath Burns</td>
                    </tr>
                    <tr>
                        <td>Treasurer</td>
                        <td>Fearghal McShane</td>
                    </tr>
                    <tr>
                        <td>Assistant Treasurer</td>
                        <td>Tony McKenna</td>
                    </tr>
                    <tr>
                        <td>PRO</td>
                        <td>Catherine O'Hare</td>
                    </tr>
                    <tr>
                        <td>Registrar</td>
                        <td>Edwina Murphy</td>
                    </tr>
                    <tr>
                        <td>Children's Officer</td>
                        <td>Rosie Burns</td>
                    </tr>
                    <tr>
                        <td>Coaching Officer</td>
                        <td>Michael Lavelle</td>
                    </tr>
                    <tr>
                        <td>Irish Language and Culture Officer</td>
                        <td>Lorcan Burns</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
