@page "/gym"

<PageTitle>Gym</PageTitle>

<h1>Gym</h1>

<iframe src="https://app.glofox.com/portal/#/branch/674f0d1768c6bdb869034ac6/classes-week-view" frameborder="0" width="100%" height="1200"></iframe><a href="https://www.glofox.com">powered by <b>Glofox</b></a>
