@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex align-content-center flex-column mb-3">
    <div class="p-2">
        <h1> Silverbridge Harps GAC</h1>
    </div>
    <div class="p-2">
        <img src="/images/aerial_view.jpg" alt="Club-View" />
    </div>
</div>
