@page "/clubkeeley"

<PageTitle>Club Keeley</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudGrid>
        <MudItem xs="12">
            <MudText Typo="Typo.h3" Class="px-4">Club Keeley</MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                If you would like to express an interest in joining the Silverbridge Harps Club Keeley monthly benefactor scheme, please use the button below and submit the form.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                Club Keeley members in the past have directly contributed to the maintenance and upkeep of the Club, as well as allowing large projects to be undertaken.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                A suggested contribution is a monthly amount of £20 per month.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                When you submit the form a member of the Club Keeley Membership team will be in touch.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                Thank you.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body1" Class="px-4" GutterBottom=true>
                Some perks that our Club Keeley Members enjoy:
                <ul>
                    <li>Entry into Monthly draw for £100 prize.</li>
                    <li>Annual ticket into Armagh £100 Club Draw.</li>
                    <li>Annual entry into Croke Park Club Draw.</li>
                    <li>Exclusive O'Neills Club Keeley jacket.</li>
                </ul>
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudButton Class="px-4 mb-12" Href="https://forms.office.com/Pages/ResponsePage.aspx?id=hrxFrNSvpUKfwz6H4bd_zi5vfvqth6FMpUr8ZnlRCeJUQTlDTzVIQklQWDRNVVlSQzRUWFRWSks2Qy4u" Target="_blank" Variant="Variant.Filled" Color="Color.Primary">Interest Form</MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
